.Side-bar {
    display: flex;
  
    flex-direction: column;
  
    margin: 15px 35px 0 50px;
    padding: 25px 20px 0 20px;
  
    border: #16616f solid 2px;
    border-radius: 10px;
  
    box-shadow: 0 1px 1px #d2d2d2;
  }