/* Add styling for your page here */

.App {
    background-color: rgb(125, 219, 219);
    padding: 2rem 6rem;

}
@media screen and (max-width: 768px) {
  .Item-grid {
    grid-template-columns: 1fr;
  }
}

.Main-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* align-items: start; */
}


  .Item-container {
    display: grid;
    margin-right: 30px;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }